/**

- PURPLE
- MAGENTA
- TEAL
- BROWN
- PINK
- ORANGE
- BLUE
- RED
- GREEN
- BLACK

 **/
.PURPLE {
  background-color: #a200ff;
}
.MAGENTA {
  background-color: #ff0097;
}
.TEAL {
  background-color: #00aba9;
}
.LIME {
  background-color: #8cbf26;
}
.BROWN {
  background-color: #a05000;
}
.PINK {
  background-color: #e671b8;
}
.ORANGE {
  background-color: #f09609;
}
.BLUE {
  background-color: #1ba1e2;
}
.RED {
  background-color: #e51400;
}
.GREEN {
  background-color: #393;
}
.BLACK {
  background-color: #222;
}
