.tile {
  display: block;
  width: 180px;
  height: 180px;
  margin: 0 10px 10px 0;
  position: relative;
  overflow: hidden;
  float: left;
}
.tile.double {
  width: 370px;
}
.tile.double.vert {
  width: 180px;
  height: 370px;
}
.tile.quad {
  width: 370px;
  height: 370px;
}
.tile.quad.double {
  width: 750px;
  height: 370px;
}
