!!!
head
    title Sqaure
    link(href="css/app.css", rel="stylesheet")


    script(src="js/components/jquery/jquery.min.js")
    script(src="http://masonry.desandro.com/masonry.pkgd.min.js")

    script(src="js/app.js")

body
    #app.wrap
        .grid-sizer
        .tile.PURPLE
            a('href="/"')
        .tile.LIME
            a('href="/"')
        .tile.MAGENTA
            a('href="/"')
        .tile.TEAL
            a('href="/"')
        .tile.PINK
            a('href="/"')
        .tile.BROWN
            a('href="/"')
        .tile.ORANGE
            a('href="/"')
        .tile.BLUE
            a('href="/"')
        .tile.RED
            a('href="/"')
        .tile.GREEN
            a('href="/"')

        .tile.BLACK
            a('href="/"')
        .tile.double.BLUE
            a('href="/"')

        .tile.double.vert.PINK
            a('href="/"')
        .tile.quad.LIME
            a('href="/"')
        .tile.quad.double.RED
            a('href="/"')

        .tile.PURPLE
            a('href="/"')
        .tile.LIME
            a('href="/"')
        .tile.MAGENTA
            a('href="/"')

        .tile.BROWN
            a('href="/"')

        .tile.double.vert.PINK
            a('href="/"')
        .tile.quad.PURPLE
            a('href="/"')
        .tile.quad.double.BLUE
            a('href="/"')

        .tile.ORANGE
            a('href="/"')
        .tile.BLUE
            a('href="/"')
        .tile.RED
            a('href="/"')
        .tile.GREEN
            a('href="/"')

        .tile.BLACK
            a('href="/"')
        .tile.double.BLUE
            a('href="/"')

        .tile.double.vert.PINK
            a('href="/"')
        .tile.quad.LIME
            a('href="/"')
        .tile.quad.double.RED
            a('href="/"')

        .tile.PURPLE
            a('href="/"')
        .tile.LIME
            a('href="/"')
        .tile.MAGENTA
            a('href="/"')

        .tile.BROWN
            a('href="/"')

        .tile.double.vert.PINK
            a('href="/"')
        .tile.quad.PURPLE
            a('href="/"')
        .tile.quad.double.BLUE
            a('href="/"')
