!!!
head
    title tiles
    link(href="css/app.css", rel="stylesheet")

    script(src="js/components/jquery/jquery.min.js")

    script(src="js/components/masonry.pkgd.min.js")

    script(src="js/app.js")

body
    #app.wrap
        .grid-sizer
        .tile.PURPLE
            a('href="#"') 
                img

        .tile.LIME
            a('href="#"')
                img
                .subpanel.full.LIME this is a subpanel

        .tile.MAGENTA
            a('href="#"')
                img
                .subpanel.half.MAGENTA this is a subpanel

        .tile.TEAL
            a('href="#"')
                img

        .tile.PINK
                img

        .tile.BROWN
            .wrap
                | this is cool,
                | just like a thing that does stuff
                | of another thing that you thing it will do

        .tile.ORANGE
            a('href="#"')
                img

        .tile.BLUE
            a('href="#"')
                img

        .tile.RED
            a('href="#"')
                img

        .tile.GREEN
            a('href="#"')
                img

        .tile.BLACK
            a('href="#"')
                img

        .tile.double.BLUE
            a('href="#"')
                .wrap 
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nec elit orci. Duis cursus, lacus ac tempor pretium, sem urna tristique orci, auctor consectetur neque tellus sed libero. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Sed laoreet ultrices molestie. Morbi lobortis vestibulum dolor, eu mollis felis adipiscing vitae. Nunc eu enim sodales nibh feugiat sagittis quis nec quam. Duis vel urna justo, vel bibendum libero. Curabitur eget laoreet tellus. Suspendisse cursus, tortor vitae aliquet auctor, velit metus adipiscing arcu, ut blandit magna nulla at mi. Nullam eu felis elit, sit amet egestas magna. Donec tincidunt, purus id dignissim volutpat, mi libero fermentum purus, ut blandit massa odio ut metus. Phasellus ut molestie nunc. Phasellus et odio elit, quis laoreet risus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Quisque ornare dolor eu erat faucibus suscipit. Phasellus a mi a risus tristique tincidunt.

        .tile.double.vert.BLUE
            a('href="#"')
                img

        .tile.quad.LIME
            a('href="#"')
                img

        .tile.quad.double.RED
            a('href="#"')
                .grid.third.one
                    .wrap
                        img
                .grid.third.two
                    .wrap
                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nec elit orci. Duis cursus, lacus ac tempor pretium, sem urna tristique orci, auctor consectetur neque tellus sed libero. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Sed laoreet ultrices molestie. Morbi lobortis vestibulum dolor, eu mollis felis adipiscing vitae. Nunc eu enim sodales nibh feugiat sagittis quis nec quam. Duis vel urna justo, vel bibendum libero. Curabitur eget laoreet tellus. Suspendisse cursus, tortor vitae aliquet auctor, velit metus adipiscing arcu, ut blandit magna nulla at mi. Nullam eu felis elit, sit amet egestas magna. Donec tincidunt, purus id dignissim volutpat, mi libero fermentum purus, ut blandit massa odio ut metus. Phasellus ut molestie nunc. Phasellus et odio elit, quis laoreet risus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Quisque ornare dolor eu erat faucibus suscipit. Phasellus a mi a risus tristique tincidunt.

        .tile.PURPLE
            a('href="#"')
                img

        .tile.LIME
            a('href="#"')
                img

        .tile.MAGENTA
            a('href="#"')
                img

        .tile.BROWN
            a('href="#"')
                img

        .tile.double.vert.PINK
            a('href="#"')
                img

        .tile.quad.PURPLE
            a('href="#"')
                img
                .subpanel.full.GREEN
                    well its a sub

        .tile.quad.double.BLUE
            a('href="#"')
                img
                .subpanel.half.PINK
                    well its a sub

        .tile.ORANGE
            a('href="#"')
                img

        .tile.BLUE
            a('href="#"')
                img

        .tile.RED
            a('href="#"')
                img

        .tile.GREEN
            a('href="#"')
                img


        .tile.BLACK
            a('href="#"')
                img

        .tile.double.BLUE
            a('href="#"')
                img


        .tile.double.vert.BLACK
            a('href="#"')
                img

        .tile.quad.LIME
            a('href="#"')
                img

        .tile.quad.double.RED
            a('href="#"')
                img


        .tile.PURPLE
            a('href="#"')
                img

        .tile.LIME
            a('href="#"')
                img

        .tile.MAGENTA
            a('href="#"')
                img


        .tile.BROWN
            a('href="#"')
                img
                .subpanel.line.BROWN this is a subpanel


        .tile.double.vert.ORANGE
            a('href="#"')
                img

        .tile.quad.PURPLE
            a('href="#"')
                img

        .tile.quad.double.BLUE
            a('href="#"')
                img
                .subpanel.title.BLUE this is a subpanel

