!!!
head
    title tiles
    link(href="css/app.css", rel="stylesheet")

    script(src="js/components/jquery/jquery.min.js")

    script(src="js/components/masonry.pkgd.min.js")

    script(src="js/app.js")

body
    #app.wrap
        .grid-sizer
        .tile.PURPLE
            a('href="#"') 
                img

        .tile.LIME
            a('href="#"')
                img
                .subpanel.full.LIME this is a subpanel

        .tile.MAGENTA
            a('href="#"')
                img
                .subpanel.half.MAGENTA this is a subpanel

        .tile.TEAL
            a('href="#"')
                img

        .tile.PINK
                img

        .tile.BROWN
                img

        .tile.ORANGE
            a('href="#"')
                img

        .tile.BLUE
            a('href="#"')
                img

        .tile.RED
            a('href="#"')
                img

        .tile.GREEN
            a('href="#"')
                img

        .tile.BLACK
            a('href="#"')
                img

        .tile.double.BLUE
            a('href="#"')
                img


        .tile.double.vert.BLUE
            a('href="#"')
                img

        .tile.quad.LIME
            a('href="#"')
                img

        .tile.quad.double.RED
                img

        .tile.PURPLE
            a('href="#"')
                img

        .tile.LIME
            a('href="#"')
                img

        .tile.MAGENTA
            a('href="#"')
                img

        .tile.BROWN
            a('href="#"')
                img

        .tile.double.vert.PINK
            a('href="#"')
                img

        .tile.quad.PURPLE
            a('href="#"')
                img

        .tile.quad.double.BLUE
            a('href="#"')
                img

        .tile.ORANGE
            a('href="#"')
                img

        .tile.BLUE
            a('href="#"')
                img

        .tile.RED
            a('href="#"')
                img

        .tile.GREEN
            a('href="#"')
                img


        .tile.BLACK
            a('href="#"')
                img

        .tile.double.BLUE
            a('href="#"')
                img


        .tile.double.vert.BLACK
            a('href="#"')
                img

        .tile.quad.LIME
            a('href="#"')
                img

        .tile.quad.double.RED
            a('href="#"')
                img


        .tile.PURPLE
            a('href="#"')
                img

        .tile.LIME
            a('href="#"')
                img

        .tile.MAGENTA
            a('href="#"')
                img


        .tile.BROWN
            a('href="#"')
                img
                .subpanel.title.BROWN this is a subpanel


        .tile.double.vert.ORANGE
            a('href="#"')
                img

        .tile.quad.PURPLE
            a('href="#"')
                img

        .tile.quad.double.BLUE
            a('href="#"')
                img
                .subpanel.BLUE this is a subpanel

