!!!
head
    title Sqaure
    link(href="css/app.css", rel="stylesheet")
    script(src="js/app.js")

body
    #site.wrap
        .tile.PURPLE
        .tile.LIME
        .tile.MAGENTA
        .tile.TEAL
        .tile.PINK
        .tile.BROWN
        .tile.ORANGE
        .tile.BLUE
        .tile.RED
        .tile.GREEN

        .tile.BLACK
        .tile.double.BLUE

        .tile.double.vert.PINK
        .tile.quad.LIME

        .tile.quad.double.RED
