/**

- PURPLE
- MAGENTA
- TEAL
- BROWN
- PINK
- ORANGE
- BLUE
- RED
- GREEN
- BLACK

 **/


.PURPLE
    background-color: #A200FF

.MAGENTA
    background-color: #FF0097

.TEAL
    background-color: #00ABA9

.LIME
    background-color: #8CBF26

.BROWN
    background-color: #A05000

.PINK
    background-color: #E671B8

.ORANGE
    background-color: #F09609

.BLUE
    background-color: #1BA1E2

.RED
    background-color: #E51400

.GREEN
    background-color: #339933

.BLACK
    background-color: #222
