.grid
    margin: 0
    padding: 0

    float: left
    position: relative
    overflow: hidden


    &.half
        &.one
            width: 50%

    &.third
        &.one
         width: 33.3%

        &.two
            width: 66%

    &.fourth
        &.one
         width: 25%

        &.two
         width: 50%

        &.three
            width: 75%
