TileSize = 180px
TileGutter = 10px

.tile
    display  : block
    width    : TileSize
    height   : TileSize

    // if javascript not available use 0 10 10 0
    //margin   : 0 TileGutter TileGutter 0
    margin-bottom   : TileGutter

    position : relative
    overflow : hidden
    float    : left


    // giving padding to tile inner
    .wrap
        height: 85%
        padding: 15px
        padding-bottom: 0

        overflow: hidden


.tile.double
    width  : TileSize * 2 + TileGutter

.tile.double.vert
    width  : TileSize
    height : TileSize * 2 + TileGutter

.tile.quad
    width  : TileSize * 2 + TileGutter
    height : TileSize * 2 + TileGutter

.tile.quad.double
    width  : TileSize * 4 + TileGutter * 3
    height : TileSize * 2 + TileGutter

.grid-sizer
    width: TileGutter
