// wrapping layer button
.tile > a
    width: 100%
    height: 100%

    padding: 0
    margin: 0

    overflow: hidden
    display: block

    // when hover
    &:hover
        // add small white inserts, and black outline insert
        box-shadow: inset 0 0 14px white, inset 0 0 2px black
