// image

.tile img
    width  : 100%
    height : auto

.tile.vert img
    width  : auto
    height : 100%


/* half */
.tile .img-half img
    width: 50%
    height: auto
    float: left

.title.vert .img-half img
    width: auto
    height: 50%

/* 1- 4quad */
.title.quad.double .img-1-4
    div:first-child
        width: 50%
        height: 50%
    div
        width: 25%
        height: 25%
        overflow: hidden
        float: left
        display: block
